
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">
                    ©Coded By <a target="_blank" href="https://github.com/OlehOryshchuk">Oleh Oryshchuk</a>
                </div>
                <div>
                    <a target="_blank" href="https://www.linkedin.com/in/oleh-oryshchuk-9b0714288/">LinkedIn</a>
                    &middot;
                </div>
            </div>
        </div>
    </footer>
